In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
from sqlalchemy import create_engine, text


warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)

In [2]:
company  = "mpr"

In [3]:
df_store_pos = pd.read_parquet(
    f"s3://mega-dev-lake/RawData/indie_on_develop/stores/{company}/store_branch.parquet"
)
df_store_dynamics = pd.read_parquet(
    f"s3://mega-dev-lake/RawData/D365/Store/{company}/year=2024/data.parquet"
)

In [4]:
df_store_dynamics

,MdsCode,Whcode,AxCode,Brand,StdName,Sqm,DeptStore,MainChannel,Channel,Province,City,Address,Month,Year,OpenStatus,OpenStatusCheck,SoArea,Region,SoDeptHead,AreaHead,CityHead,Target,Sssg,PullStatus,PullDate
0,,WH0008,C0001,MINIMAL,SHOWROOM MN AYANI MEGAMALL PONTIANAK,104,,Showroom,Showroom,KALIMANTAN,PONTIANAK,"Jl. Jenderal Ahmad Yani No.4, Parit Tokaya, Ke...",May,2024,Open,No,FEBBY FERDIAN,KALIMANTAN,Rahma Yunita,Nitta Kristiyani,Ahmad Fauz,194000000,1,Current,2024-06-13 16:06:58
1,,WH0009,C0002,MINIMAL,SHOWROOM MN MALL BALI GALERIA,0,,Showroom,Showroom,BALI,BALI,"Jl. Bypass Ngurah Rai, Kuta, Kec. Kuta, Kabupa...",May,2024,Close,No,FEBBY FERDIAN,BALI - NTT - NTB,Artha Erlina Gomgom,Agus Rahmawika,Agus Rahma,123000000,1,Current,2024-06-13 16:06:58
2,,WH0013,C0003,MINIMAL,SHOWROOM MN MALL BOTANI SQUARE BOGOR,0,,Showroom,Showroom,JAWA BARAT,Kota Bogor,"Jl. Raya Pajajaran No.40, Tugu Kujang, Kecamat...",May,2024,Open,No,FEBBY FERDIAN,JABAR,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurla,206000000,1,Current,2024-06-13 16:06:58
3,,WH0014,C0004,MINIMAL,SHOWROOM MN CIBUBUR JUNCTION,0,,Showroom,Showroom,DKI JAKARTA,JAKARTA TIMUR,"Jl. Jambore No.8, RT.8/RW.7, Cibubur, Kec. Cir...",,,Close,No,,,,,,0,0,Current,2024-06-13 16:06:58
4,,WH0016,C0005,MINIMAL,SHOWROOM MN MALL CIHAMPELAS WALK BANDUNG,0,,Showroom,Showroom,JAWA BARAT,BANDUNG,"Jl. Cihampelas No.160, Cipaganti, Kecamatan Co...",May,2024,Open,No,FEBBY FERDIAN,JABAR,Dika Farfani,Erwinsyah,Erwinsyah,101000000,1,Current,2024-06-13 16:06:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,,11506,C1402,MINIMAL,SHOWROOM MN Q-MALL BANJARBARU II,0,,Showroom,Showroom,KALIMANTAN,BANJARBARU,"JL. A. YANI, KOMET, KEC. BANJARBARU UTARA\nBAN...",,,Close,Yes,,,,,,0,0,Current,2024-06-13 16:06:58
1319,,,C1403,ALL,KOPERASI SUKSES PRIMA SEJAHTERA JAWA TIMUR,0,,ALL,Local,,SIDOARJO,JL. A. YANI KOMPLEK CENTRAL SQUARE C-9 NO. 41...,,,Close,Yes,,,,,,0,0,Current,2024-06-13 16:06:58
1320,,11507,C1404,MINIMAL,BAZAAR MN MALL RATU INDAH,0,,Showroom,Showroom,SULAWESI S,MAKASSAR,"JL. DR. RATULANGI NO.35, MAMAJANG LUAR, KEC. M...",,,Close,Yes,,,,,,0,0,Current,2024-06-13 16:06:58
1321,,11508,C1405,MINIMAL,MATAHARI MN PAKUWON SURABAYA,0,,Key Account,Dep Store,JAWA TIMUR,SURABAYA,"JL. MAYJEN YONO SUWOYO NO.2, BABATAN, KEC. WIY...",,,Close,Yes,,,,,,0,0,Current,2024-06-13 16:06:58
1322,,,C1406,MOC,QMARK MC TULUNGAGUNG,0,,Key Account,Dep Store,JAWA TIMUR,TULUNGAGUNG,"Jl. Ahmad Yani Timur No.64, Kampungdalem\nTULU...",,,Close,Yes,,,,,,0,0,Current,2024-06-13 16:06:58

In [4]:
# Processing df store
df_store_pos_selected = df_store_pos[["id", "extCode", "status"]]
df_store_pos_selected["status"] = df_store_pos_selected["status"].map(
    {1: "Open", 0: "Close"}
)

In [5]:
df_store = df_store_dynamics[
    [
        "MdsCode",
        "Whcode",
        "AxCode",
        "Brand",
        "StdName",
        "Sqm",
        "DeptStore",
        "MainChannel",
        "Channel",
        "Region",
        "Province",
        "City",
        "Address",
        "OpenStatus",
        "Sssg",
    ]
].merge(
    df_store_pos_selected,
    "left",
    left_on=["AxCode"],
    right_on=["extCode"],
).fillna(np.NaN)

df_store["StoreCountry"] = "Indonesia"
df_store["StoreDynamicsID"] = np.NaN
df_store["StoreInvoiceCode"] = np.NaN
df_store["DataAreaId"] = company

In [6]:
dim_store = df_store[
    [
        "DataAreaId",
        "id",
        "StoreDynamicsID",
        "Whcode",
        "status",
        "OpenStatus",
        "Brand",
        "AxCode",
        "StoreInvoiceCode",
        "MdsCode",
        "Sssg",
        "StdName",
        "MainChannel",
        "Channel",
        "StoreCountry",
        "Region",
        "Province",
        "City",
        "Address",
        "Sqm",
    ]
].rename(
    columns={
        "id": "store_pos_id",
        "Whcode": "warehouse_key",
        "status": "store_pos_status",
        "OpenStatus": "store_dynamics_status",
        "Brand": "brand_key",
        "AxCode": "store_code",
        "MdsCode": "store_mds_code",
        "Sssg": "store_sssg",
        "StdName": "store_name",
        "MainChannel": "store_main_channel",
        "Channel": "store_channel",
        "Region": "store_region",
        "Province": "store_province",
        "City": "store_city",
        "Address": "store_address",
        "Sqm": "store_sqm",
        "StoreDynamicsID": "store_dynamics_id",
        "StoreInvoiceCode": "store_invoice_code",
        "StoreCountry": "store_country",
    }
)

In [7]:
dim_store["store_sssg"] = dim_store["store_sssg"].map({1: "SSSG", 0: "Non SSSG"})

dim_store["store_city"] = dim_store["store_city"].str.title()
dim_store["store_city"] = dim_store["store_city"].str.replace("Kota ", "")

dim_store["store_region"] = dim_store["store_region"].str.title()
dim_store["store_region"] = (
    dim_store["store_region"]
    .str.replace("Ntt", "NTT")
    .str.replace("Ntb", "NTB")
    .str.replace("Dki", "DKI")
)

dim_store["store_province"] = dim_store["store_province"].str.title()
dim_store.loc[dim_store["store_province"] == "Jawa Tenga", "store_province"] = (
    "Jawa Tengah"
)
dim_store.loc[dim_store["store_province"] == "Di Yogyaka", "store_province"] = (
    "DI Yogyakarta"
)
dim_store.loc[dim_store["store_province"] == "Dki Jakarta", "store_province"] = (
    "DKI Jakarta"
)
dim_store.loc[dim_store["store_province"] == "Sumatera S", "store_province"] = (
    "Sumatera Selatan"
)
dim_store.loc[dim_store["store_province"] == "Sulawesi T", "store_province"] = (
    "Sumatera Tengah"
)
dim_store.loc[dim_store["store_province"] == "Nusa Tengg", "store_province"] = (
    "Nusa Tenggara"
)
dim_store.loc[dim_store["store_province"] == "Sulawesi U", "store_province"] = (
    "Sulawesi Utara"
)
dim_store.loc[dim_store["store_province"] == "Bangka Bel", "store_province"] = (
    "Bangka Belitung"
)
dim_store.loc[dim_store["store_province"] == "Maluku Uta", "store_province"] = (
    "Maluku Utara"
)
dim_store.loc[dim_store["store_province"] == "Sulawesi S", "store_province"] = (
    "Sulawesi Selatan"
)

dim_store["store_address"] = dim_store["store_address"].str.replace(" \n", " ")
dim_store["store_address"] = dim_store["store_address"].str.replace("\n", ", ")
dim_store["store_address"] = dim_store["store_address"].str.replace("\xa0", "")

In [8]:
dim_store["store_sync_status"] = np.where(
    dim_store["store_dynamics_status"] == dim_store["store_pos_status"],
    "Yes",
    "No",
)

In [9]:
dim_store['company_key'] = np.where(dim_store['DataAreaId'] == 'mpr', 1, 2)

In [10]:
# dim_store["start_date"] = pd.to_datetime(datetime.datetime.now().strftime("%Y-%m-%d"))

# dim_store["end_date"] = pd.NaT

# dim_store["create_date"] = pd.to_datetime(
#     datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
# )

# dim_store["update_date"] = pd.to_datetime(
#     datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
# )

In [11]:
dim_store["current_status"] = "current"
dim_store = dim_store[[
    "company_key",
    "store_pos_id",
    "store_dynamics_id",
    "warehouse_key",
    "store_pos_status",
    "store_dynamics_status",
    "brand_key",
    "store_code",
    "store_invoice_code",
    "store_mds_code",
    "store_sssg",
    "store_name",
    "store_main_channel",
    "store_channel",
    "store_country",
    "store_region",
    "store_province",
    "store_city",
    "store_address",
    "store_sqm",
    "store_sync_status",
    # "start_date",
    # "end_date",
    # "create_date",
    # "update_date",
    "current_status",
]]

In [12]:
new_data_dict = dim_store.to_dict(orient='records')

In [13]:
engine = create_engine(
    f"postgresql+psycopg2://postgres:dsteam141@gateway-LB-0daa0ad89236a16a.elb.ap-southeast-3.amazonaws.com:5432/DataProd",
).connect()
existing_data_query = "SELECT * FROM dim_store WHERE company_key = 1"
existing_data = pd.read_sql(existing_data_query, engine)
existing_data = existing_data.fillna(np.NaN)

In [14]:
existing_data_dict  = existing_data.to_dict(orient="records")

In [15]:
# List untuk menyimpan perintah SQL
sql_commands = []

In [17]:
for new_row in new_data_dict:
    match_found = False
    columns_to_check = set(new_row.keys())

    for existing_row in existing_data_dict:
        
        # Check axcode first
        if existing_row["store_code"] == new_row["store_code"]:
            match_found = True

            for col in columns_to_check:
                if existing_row[col] == new_row[col]:
                    need_action = False
                elif pd.isna(existing_row[col]) and pd.isna(new_row[col]):
                    need_action = False
                else:
                    need_action = True

                    # Update existing record to set end_date and is_current to FALSE
                    sql_commands.append(
                        text(
                            "UPDATE dim_store SET end_date = :end_date, current_status = 'previous' WHERE store_key = :id"
                        ).params(end_date=datetime.now(), id=existing_row["store_key"])
                    )

                    # Insert new record with current data
                    new_row["start_date"] = pd.to_datetime(
                        datetime.datetime.now().strftime("%Y-%m-%d")
                    )
                    new_row["create_date"] = pd.to_datetime(
                        datetime.datetime.now().strftime("%Y-%m-%d")
                    )
                    new_row["update_date"] = pd.to_datetime(
                        datetime.datetime.now().strftime("%Y-%m-%d")
                    )
                    new_row["end_date"] = pd.NaT
                    new_row["current_status"] = "current"
                    sql_commands.append(
                        text(
                            "INSERT INTO dim_store (natural_key, attribute_1, attribute_2, ..., start_date, end_date, is_current) "
                            "VALUES (:natural_key, :attribute_1, :attribute_2, ..., :start_date, :end_date, :is_current)"
                        ).params(**new_row)
                    )