In [2]:
import pandas as pd
import numpy as np
import datetime
import warnings


warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

Akan membuat report akumulasi berdasarkan tanggal yang sudah disepakati di pattern sales

In [3]:
# Create variables refresh_date , refresh_month
refresh_date = datetime.datetime.today() - pd.DateOffset(days=1)
last_year = (refresh_date - pd.DateOffset(years=1)).strftime("%Y")
refresh_month = '07'
refresh_month_name = 'July'

In [4]:
refresh_year = "2024"
for refresh_month in ["07"]:
    refresh_month_name = pd.to_datetime(refresh_month, format="%m").month_name()

    print(f"Start {refresh_month} : {refresh_month_name}")

    df_master_store = pd.read_parquet(
        "s3://mega-dev-lake/Staging/Master/Master Store/2024/data.parquet"
    ).query(f"month == '{refresh_month_name}'")
    df_target = df_master_store[["dataareaid", "axcode", "target"]]

    master_online = df_master_store[df_master_store["main_channel"] == "ONLINE"]
    master_online["marketplace"] = master_online["stdname"].str.split(" ").str.get(2)
    master_online["brand"] = master_online["stdname"].str.split(" ").str.get(1)
    master_online["marketplace"] = master_online["marketplace"].fillna("")

    master_online["marketplace"] = np.where(
        master_online["marketplace"].isin(
            [
                "MANZONESTORE.ID",
                "MINIMALSTORE.ID",
                "MOCSTORE.ID",
                "WEBSITE",
            ]
        ),
        "SHOPIFY",
        master_online["marketplace"],
    )

    # Get the pattern
    df_pattern = pd.read_excel(
        "s3://mega-lake/ProcessedData/Sales/pattern/pattern_24_with_festive.xlsx"
    )

    # Filter the pattern depends on what month in refresh_month
    df_pattern = df_pattern[
        pd.to_datetime(df_pattern["pattern_date"]).dt.strftime("%m") == refresh_month
    ]

    # Get the last_month and last_year_month from the pattern
    last_month = pd.to_datetime(df_pattern["pattern_lm"]).dt.strftime("%m").unique()
    last_year_month = (
        pd.to_datetime(df_pattern["pattern_last_year"]).dt.strftime("%m").unique()
    )

    # Create id by concanate all date in pattern_date, pattern_lm, pattern_last_year
    df_pattern["pattern_date"] = df_pattern["pattern_date"].astype(str)
    df_pattern["pattern_lm"] = df_pattern["pattern_lm"].astype(str)
    df_pattern["pattern_last_year"] = df_pattern["pattern_last_year"].astype(str)

    df_pattern["id"] = (
        df_pattern["pattern_date"]
        + "/"
        + df_pattern["pattern_lm"]
        + "/"
        + df_pattern["pattern_last_year"]
    )

    # Create date dimension for calculate score perdays depends rules on company's
    dim_date = df_pattern[["id", "pattern_date"]].assign(
        day_name=lambda x: pd.to_datetime(x["pattern_date"]).dt.day_name()
    )

    conditions = [
        dim_date["day_name"].isin(["Saturday", "Sunday"]),
        dim_date["day_name"] == "Friday",
    ]
    chooses = [2, 1.5]

    dim_date["day_score"] = np.select(
        condlist=conditions, choicelist=chooses, default=1
    )
    dim_date["month_score"] = dim_date["day_score"].sum()

    # Get All Data sales that we needs.
    query_txt = "istransaction != '0' & issettled != False & status_order != 7 & channel != 'ONLINE'"

    # Get data sales this month
    df_this_month = pd.read_parquet(
        f"s3://mega-dev-lake/ProcessedData/Sales/sales_detail_indie/{refresh_year}/{refresh_month}/"
    ).query(query_txt)[
        [
            "dataareaid",
            "axcode",
            "order_create_date",
            "codebars",
            "productdata_barcode",
            "ordernumber",
            "quantity",
            "cust_paid_peritem",
            "hpp_total",
            "promocode",
            "remarks",
        ]
    ]

    df_promo = df_this_month.groupby(
        ["dataareaid", "axcode", "order_create_date", "promocode", "remarks"],
        as_index=False,
    )[["cust_paid_peritem"]].sum()
    df_promo["is_promo"] = np.where(df_promo["promocode"].isin(["", "regular"]), 0, 1)

    df_online = pd.read_parquet(
        f"s3://mega-dev-lake/ProcessedData/Sales/sales_online/{refresh_year}/{refresh_month}/data.parquet"
    ).query("`Status Sales` != 'CANCELED'")
    df_online["Date"] = df_online["Date"].astype(str)
    df_online = df_online[
        [
            "Brand",
            "Marketplace",
            "Date",
            "No Order",
            "CODEBARS",
            "Qty Sold",
            "Value After Voucher",
            "Existing HPP",
        ]
    ].rename(
        columns={
            "Date": "order_create_date",
            "No Order": "ordernumber",
            "CODEBARS": "codebars",
            "Qty Sold": "quantity",
            "Value After Voucher": "cust_paid_peritem",
            "Existing HPP": "hpp_total",
            "Brand": "brand",
            "Marketplace": "marketplace",
        }
    )
    df_online = (
        master_online[["dataareaid", "axcode", "brand", "marketplace"]]
        .merge(df_online, "right", on=["brand", "marketplace"])
        .drop(columns=["brand", "marketplace"])
    )

    df_this_month = pd.concat([df_this_month, df_online])

    # Get data sales from last_month by value lastmonth in pattern
    df_last_month = pd.DataFrame()
    for month in last_month:
        if month == "12":
            year = str(int(refresh_year) - 1)
        else:
            year = refresh_year

        try:

            data = pd.read_parquet(
                f"s3://mega-dev-lake/ProcessedData/Sales/sales_detail_indie/{year}/{month}/"
            ).query(query_txt)[
                [
                    "dataareaid",
                    "axcode",
                    "order_create_date",
                    "codebars",
                    "productdata_barcode",
                    "ordernumber",
                    "quantity",
                    "cust_paid_peritem",
                    "hpp_total",
                ]
            ]

            online = pd.read_parquet(
                f"s3://mega-dev-lake/ProcessedData/Sales/sales_online/{year}/{month}/data.parquet"
            ).query("`Status Sales` != 'CANCELED'")
            online["Date"] = online["Date"].astype(str)
            online = online[
                [
                    "Brand",
                    "Marketplace",
                    "Date",
                    "No Order",
                    "CODEBARS",
                    "Qty Sold",
                    "Value After Voucher",
                    "Existing HPP",
                ]
            ].rename(
                columns={
                    "Date": "order_create_date",
                    "No Order": "ordernumber",
                    "CODEBARS": "codebars",
                    "Qty Sold": "quantity",
                    "Value After Voucher": "cust_paid_peritem",
                    "Existing HPP": "hpp_total",
                    "Brand": "brand",
                    "Marketplace": "marketplace",
                }
            )
            online = (
                master_online[["dataareaid", "axcode", "brand", "marketplace"]]
                .merge(online, "right", on=["brand", "marketplace"])
                .drop(columns=["brand", "marketplace"])
            )

            df_last_month = pd.concat([df_last_month, data])
            df_last_month = pd.concat([df_last_month, online])

        except:
            pass

    # Get data sales from last_year by value lastmonth in pattern
    df_last_year = pd.DataFrame()
    for month in last_year_month:
        try:
            data = pd.read_parquet(
                f"s3://mega-dev-lake/ProcessedData/Sales/sales_detail_indie/{last_year}/{month}/"
            ).query(query_txt)[
                [
                    "dataareaid",
                    "axcode",
                    "order_create_date",
                    "codebars",
                    "productdata_barcode",
                    "ordernumber",
                    "quantity",
                    "cust_paid_peritem",
                    "hpp_total",
                ]
            ]

            df_last_year = pd.concat([df_last_year, data])

            online = pd.read_parquet(
                f"s3://mega-dev-lake/ProcessedData/Sales/sales_online/{last_year}/{month}/data.parquet"
            ).query("`Status Sales` != 'CANCELED'")
            online["Date"] = online["Date"].astype(str)
            online = online[
                [
                    "Brand",
                    "Marketplace",
                    "Date",
                    "No Order",
                    "CODEBARS",
                    "Qty Sold",
                    "Value After Voucher",
                    "Existing HPP",
                ]
            ].rename(
                columns={
                    "Date": "order_create_date",
                    "No Order": "ordernumber",
                    "CODEBARS": "codebars",
                    "Qty Sold": "quantity",
                    "Value After Voucher": "cust_paid_peritem",
                    "Existing HPP": "hpp_total",
                    "Brand": "brand",
                    "Marketplace": "marketplace",
                }
            )
            online = (
                master_online[["dataareaid", "axcode", "brand", "marketplace"]]
                .merge(online, "right", on=["brand", "marketplace"])
                .drop(columns=["brand", "marketplace"])
            )
            df_last_year = pd.concat([df_last_year, online])

        except:
            pass

    df_this_month["codebars"] = np.where(
        df_this_month["codebars"].isin(["undetected", "Undetected"])
        & ~df_this_month["productdata_barcode"].isna(),
        df_this_month["productdata_barcode"],
        df_this_month["codebars"],
    )

    df_last_month["codebars"] = np.where(
        df_last_month["codebars"].isin(["undetected", "Undetected"])
        & ~df_last_month["productdata_barcode"].isna(),
        df_last_month["productdata_barcode"],
        df_last_month["codebars"],
    )

    df_this_month = df_this_month.groupby(
        [
            "dataareaid",
            "axcode",
            "order_create_date",
            "codebars",
        ],
        as_index=False,
    ).agg(
        {
            "ordernumber": "nunique",
            "quantity": "sum",
            "cust_paid_peritem": "sum",
            "hpp_total": "sum",
        }
    )

    df_last_month = df_last_month.groupby(
        [
            "dataareaid",
            "axcode",
            "order_create_date",
            "codebars",
        ],
        as_index=False,
    ).agg(
        {
            "ordernumber": "nunique",
            "quantity": "sum",
            "cust_paid_peritem": "sum",
            "hpp_total": "sum",
        }
    )

    df_last_year = df_last_year.groupby(
        [
            "dataareaid",
            "axcode",
            "order_create_date",
            "codebars",
        ],
        as_index=False,
    ).agg(
        {
            "ordernumber": "nunique",
            "quantity": "sum",
            "cust_paid_peritem": "sum",
            "hpp_total": "sum",
        }
    )

    df_this_month_p = df_this_month.merge(
        df_pattern[["id", "pattern_date"]].rename(
            columns={"pattern_date": "order_create_date"}
        ),
        "left",
        on=["order_create_date"],
    )
    list_pattern = df_this_month_p["id"].unique()

    df_last_month_p = df_pattern[df_pattern["id"].isin(list_pattern)][
        ["id", "pattern_lm"]
    ].merge(
        df_last_month.rename(columns={"order_create_date": "pattern_lm"}),
        "left",
        on="pattern_lm",
    )

    df_last_year_p = df_pattern[df_pattern["id"].isin(list_pattern)][
        ["id", "pattern_last_year"]
    ].merge(
        df_last_year.rename(columns={"order_create_date": "pattern_last_year"}),
        "left",
        on="pattern_last_year",
    )

    df_akum = df_this_month_p.merge(
        df_last_month_p,
        "outer",
        on=["dataareaid", "axcode", "id", "codebars"],
        suffixes=("", "_lm"),
    )

    df_akum = df_akum.merge(
        df_last_year_p,
        "outer",
        on=["dataareaid", "axcode", "id", "codebars"],
        suffixes=("", "_ly"),
    )

    df_akum["order_create_date"] = df_akum["id"].str.split("/").str.get(0)
    df_akum["order_create_date_lm"] = df_akum["id"].str.split("/").str.get(1)
    df_akum["order_create_date_ly"] = df_akum["id"].str.split("/").str.get(2)

    df_akum["day"] = pd.to_datetime(df_akum["order_create_date"]).dt.day
    df_akum["month"] = pd.to_datetime(df_akum["order_create_date"]).dt.strftime("%m")
    df_akum["week"] = (df_akum["day"] - 1) // 7 + 1
    df_akum["week"] = df_akum["week"].astype(str)
    df_akum["week"] = "Week" + " " + df_akum["week"]

    df_akum = df_akum.merge(
        dim_date[["id", "day_name", "day_score", "month_score"]], "left", on="id"
    )

    df_akum = df_akum[
        [
            "dataareaid",
            "axcode",
            "id",
            "order_create_date",
            "day",
            "day_name",
            "day_score",
            "week",
            "month",
            "month_score",
            "codebars",
            "ordernumber",
            "quantity",
            "cust_paid_peritem",
            "hpp_total",
            "order_create_date_lm",
            "ordernumber_lm",
            "quantity_lm",
            "cust_paid_peritem_lm",
            "hpp_total_lm",
            "order_create_date_ly",
            "ordernumber_ly",
            "quantity_ly",
            "cust_paid_peritem_ly",
            "hpp_total_ly",
        ]
    ]

    df_akum[
        [
            "ordernumber",
            "quantity",
            "cust_paid_peritem",
            "hpp_total",
            "ordernumber_lm",
            "quantity_lm",
            "cust_paid_peritem_lm",
            "hpp_total_lm",
            "ordernumber_ly",
            "quantity_ly",
            "cust_paid_peritem_ly",
            "hpp_total_ly",
        ]
    ] = df_akum[
        [
            "ordernumber",
            "quantity",
            "cust_paid_peritem",
            "hpp_total",
            "ordernumber_lm",
            "quantity_lm",
            "cust_paid_peritem_lm",
            "hpp_total_lm",
            "ordernumber_ly",
            "quantity_ly",
            "cust_paid_peritem_ly",
            "hpp_total_ly",
        ]
    ].fillna(
        0
    )

    list_product_information = [
        "dataareaid",
        "codebars",
        "umbrellabrand",
        "subbrand",
        "world",
        "category",
        "subcategory",
    ]

    df_product = pd.DataFrame()

    for company in ["mpr", "mgl"]:
        data = pd.read_parquet(
            f"s3://mega-dev-lake/RawData/D365/Product/{company}/data.parquet"
        ).assign(dataareaid=company)
        data.columns = data.columns.str.lower()
        data = data.drop_duplicates(subset="codebars")
        df_product = pd.concat([df_product, data])

    df_product_selected = df_product[list_product_information]

    df_akum = df_akum.merge(df_product_selected, "left", on=["dataareaid", "codebars"])
    df_akum[list_product_information] = df_akum[list_product_information].fillna(
        "Undetected"
    )

    df_akum_percat = df_akum.groupby(
        [
            "dataareaid",
            "axcode",
            "order_create_date",
            "day",
            "day_name",
            "day_score",
            "week",
            "month",
            "month_score",
            "umbrellabrand",
            "subbrand",
            "category",
            "subcategory",
        ],
        as_index=False,
    ).agg(
        {
            "ordernumber": "sum",
            "quantity": "sum",
            "cust_paid_peritem": "sum",
            "hpp_total": "sum",
            "ordernumber_lm": "sum",
            "quantity_lm": "sum",
            "cust_paid_peritem_lm": "sum",
            "hpp_total_lm": "sum",
            "ordernumber_ly": "sum",
            "quantity_ly": "sum",
            "cust_paid_peritem_ly": "sum",
            "hpp_total_ly": "sum",
        }
    )

    df_akum_percat = df_akum_percat.merge(
        df_target, "left", on=["dataareaid", "axcode"]
    )

    df_akum_percat["target_daily"] = (
        df_akum_percat["target"] / df_akum_percat["month_score"]
    ) * df_akum_percat["day_score"]

    df_akum_percat.loc[
        df_akum_percat.duplicated(subset=["dataareaid", "axcode", "target"]), "target"
    ] = 0

    df_akum_percat.loc[
        df_akum_percat.duplicated(
            subset=["dataareaid", "axcode", "order_create_date", "target_daily"]
        ),
        "target_daily",
    ] = 0

    # df_akum_percat_mtd = df_akum_percat.groupby(
    #     [
    #         "dataareaid",
    #         "axcode",
    #         "month",
    #         "umbrellabrand",
    #         "subbrand",
    #         "category",
    #         "subcategory",
    #     ],
    #     as_index=False,
    # )[
    #     [
    #         "ordernumber",
    #         "quantity",
    #         "cust_paid_peritem",
    #         "hpp_total",
    #         "ordernumber_lm",
    #         "quantity_lm",
    #         "cust_paid_peritem_lm",
    #         "hpp_total_lm",
    #         "ordernumber_ly",
    #         "quantity_ly",
    #         "cust_paid_peritem_ly",
    #         "hpp_total_ly",
    #         "target",
    #         "target_daily",
    #     ]
    # ].sum()

    # df_akum_percat_mtd.to_parquet(
    #     f"s3://mega-dev-lake/Staging/Sales/accumulation/month_to_date/{refresh_year}/{refresh_month}/data.parquet"
    # )

    # print(f"{refresh_month} Custpaid akum", df_akum["cust_paid_peritem"].sum())
    # print(f"{refresh_month} Custpaid before", df_this_month["cust_paid_peritem"].sum())
    # print(
    #     f"{refresh_month} Custpaid after",
    #     df_akum_percat_mtd["cust_paid_peritem"].sum(),
    # )

    # df_report_promo = df_master_store[
    #     [
    #         "dataareaid",
    #         "channel",
    #         "brand",
    #         "groupstore",
    #         "axcode",
    #         "stdname",
    #         "sqm",
    #         "sssg",
    #         "so dept head",
    #         "area head",
    #         "city head",
    #     ]
    # ].merge(df_promo, "right", on=["dataareaid", "axcode"])
    
    # df_report_akum = df_master_store[
    #     [
    #         "dataareaid",
    #         "channel",
    #         "brand",
    #         "groupstore",
    #         "axcode",
    #         "stdname",
    #         "sqm",
    #         "sssg",
    #         "so dept head",
    #         "area head",
    #         "city head",
    #     ]
    # ].merge(df_akum_percat, "right", on=["dataareaid", "axcode"])
    
    # engine = f"postgresql+psycopg2://postgres:dsteam141@gateway-LB-0daa0ad89236a16a.elb.ap-southeast-3.amazonaws.com:5432/sales_reports"
    # df_report_akum.to_sql('sales_akum', engine, if_exists='append')
    # df_report_promo.to_sql("sales_promo", engine, if_exists="append")

Start 07 : July

In [7]:
# Get data sales this month
df = pd.read_parquet(
    f"s3://mega-dev-lake/ProcessedData/Sales/sales_detail_indie/2024/07/"
).query(query_txt)[
    [
        "dataareaid",
        "axcode",
        "order_create_date",
        "codebars",
        "productdata_barcode",
        "ordernumber",
        "quantity",
        "cust_paid_peritem",
        "hpp_total",
        "promocode",
        "remarks",
    ]
]

In [19]:
df_ytd = pd.DataFrame()
for month in ["01", "02", "03", "04", "05", "06"]:
    data = pd.read_parquet(
        f"s3://mega-dev-lake/Staging/Sales/accumulation/month_to_date/{refresh_year}/{month}/data.parquet"
    )
    df_ytd = pd.concat([df_ytd, data])

In [20]:
df_ytd = pd.concat([df_ytd, df_akum_percat_mtd])

In [21]:
df_ytd = df_ytd.groupby(
    ["dataareaid", "axcode", "umbrellabrand", "subbrand", "category", "subcategory"], as_index=False
)[
    [
        "ordernumber",
        "quantity",
        "cust_paid_peritem",
        "ordernumber_ly",
        "quantity_ly",
        "cust_paid_peritem_ly",
        "target",
        "target_daily",
    ]
].sum()

In [22]:
report_mtd = df_akum_percat_mtd.merge(
    df_ytd,
    "outer",
    on=["dataareaid", "axcode", "umbrellabrand", "subbrand", "category", "subcategory"],
    suffixes=("", "_ytd"),
).fillna({"month": refresh_month})

report_mtd[report_mtd.select_dtypes(include="number").columns] = report_mtd[
    report_mtd.select_dtypes(include="number").columns
].fillna(0)

In [23]:
df_report_mtd = df_master_store[
    [
        "dataareaid",
        "channel",
        "brand",
        "groupstore",
        "axcode",
        "stdname",
        "sqm",
        "sssg",
        "so dept head",
        "area head",
        "city head",
    ]
].merge(report_mtd, "right", on=["dataareaid", "axcode"])

In [24]:
df_akum_perday = df_akum_percat.groupby(
    ["dataareaid", "axcode", "month", "week", "order_create_date"], as_index=False
)[
    [
        "ordernumber",
        "quantity",
        "cust_paid_peritem",
        "hpp_total",
    ]
].sum()

In [25]:
df_report = df_master_store[
    [
        "dataareaid",
        "channel",
        "brand",
        "groupstore",
        "axcode",
        "stdname",
        "sqm",
        "sssg",
        "so dept head",
        "area head",
        "city head",
    ]
].merge(df_akum_perday, "right", on=["dataareaid", "axcode"])

In [26]:
df_report["cust_paid_peritem"].sum()

38618868032.0

In [27]:
df_report_mtd['cust_paid_peritem'].sum()

38618868032.0

In [34]:
df_report.columns = (
    df_report.columns.str.replace("ordernumber", "orders")
    .str.replace("cust_paid_peritem", "sales")
    .str.replace("_ly", "_last_year")
    .str.replace("_lm", "_last_month")
    .str.replace("_", " ")
    .str.title()
)

In [32]:
df_report_mtd.columns = (
    df_report_mtd.columns.str.replace("ordernumber", "orders")
    .str.replace("cust_paid_peritem", "sales")
    .str.replace("_ly", "_last_year")
    .str.replace("_lm", "_last_month")
    .str.replace("_", " ")
    .str.title()
)

In [37]:
with pd.ExcelWriter("Test Akumulasi & Per Category.xlsx") as wr:
    df_report.to_excel(wr, sheet_name="Daily", index=False)
    df_report_mtd.to_excel(wr, sheet_name="Monthly", index=False)

In [38]:
df_report

,Dataareaid,Channel,Brand,Groupstore,Axcode,Stdname,Sqm,Sssg,So Dept Head,Area Head,City Head,Month,Week,Order Create Date,Orders,Quantity,Sales,Hpp Total
0,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Week 1,2024-07-01,8.0,8.0,3740300.0,3.228356e+06
1,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Week 1,2024-07-02,9.0,9.0,5617500.0,3.236203e+06
2,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Week 1,2024-07-03,22.0,22.0,15770480.0,1.004571e+07
3,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Week 1,2024-07-04,17.0,17.0,7108400.0,4.730985e+06
4,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Week 1,2024-07-05,14.0,14.0,7042000.0,4.636141e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17937,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),07,Week 3,2024-07-18,4.0,4.0,482740.0,1.767698e+05
17938,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),07,Week 3,2024-07-19,3.0,3.0,362800.0,1.547250e+05
17939,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),07,Week 3,2024-07-20,14.0,14.0,1904020.0,8.265198e+05
17940,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),07,Week 3,2024-07-21,13.0,13.0,1601140.0,7.079808e+05
17941,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),07,Week 4,2024-07-22,3.0,3.0,350800.0,1.828350e+05

,Dataareaid,Channel,Brand,Groupstore,Axcode,Stdname,Sqm,Sssg,So Dept Head,Area Head,City Head,Month,Umbrellabrand,Subbrand,Category,Subcategory,Orders,Quantity,Sales,Hpp Total,Orders Last Month,Quantity Last Month,Sales Last Month,Hpp Total Last Month,Orders Last Year,Quantity Last Year,Sales Last Year,Hpp Total Last Year,Target,Target Daily,Orders Ytd,Quantity Ytd,Sales Ytd,Orders Last Year Ytd,Quantity Last Year Ytd,Sales Last Year Ytd,Target Ytd,Target Daily Ytd
0,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Puma,,Accessories,Backpack Bag,51.0,55.0,16239610.0,9678292.11,13.0,15.0,5554600.0,2.480273e+06,14.0,14.0,7370600.0,3645397.91,0.0,2.436707e+08,108.0,114.0,4.234641e+07,102.0,102.0,5.501377e+07,8.917582e+08,1.620833e+09
1,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Puma,,Accessories,Barrel Bag,0.0,0.0,0.0,0.00,1.0,1.0,413100.0,4.390237e+05,0.0,0.0,0.0,0.00,0.0,0.000000e+00,6.0,6.0,2.386800e+06,27.0,27.0,1.491618e+07,0.000000e+00,1.805649e+08
2,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Puma,,Accessories,Cap,25.0,25.0,4782080.0,3204580.19,16.0,17.0,4665950.0,2.484366e+06,14.0,14.0,4426500.0,2168256.99,377000000.0,2.758537e+07,110.0,111.0,3.208196e+07,172.0,172.0,5.176806e+07,1.478712e+09,5.909251e+08
3,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Puma,,Accessories,Gloves,3.0,3.0,1197300.0,622904.00,3.0,3.0,949900.0,3.774320e+05,0.0,0.0,0.0,0.00,0.0,0.000000e+00,8.0,8.0,2.705800e+06,7.0,7.0,2.441200e+06,0.000000e+00,0.000000e+00
4,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,07,Puma,,Accessories,Hat,3.0,3.0,939800.0,622983.00,7.0,7.0,2752700.0,1.539055e+06,0.0,0.0,0.0,0.00,0.0,0.000000e+00,27.0,28.0,1.205450e+07,0.0,0.0,0.000000e+00,0.000000e+00,2.682853e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37292,mpr,BAZAAR,MZ,SHOWROOM,C1395,BAZAAR MZ GRAND BATAM,20.0,CLOSED,Rahma Yunita,Rika Yuanda,Rika Yuanda (Direct),07,Manzone,,Bottom,Pants Chinos,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.00,0.0,0.000000e+00,21.0,21.0,5.247900e+06,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00
37293,mpr,BAZAAR,MZ,SHOWROOM,C1395,BAZAAR MZ GRAND BATAM,20.0,CLOSED,Rahma Yunita,Rika Yuanda,Rika Yuanda (Direct),07,Manzone,,Top,Polo Shirt Short Sleeve,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.00,0.0,0.000000e+00,66.0,62.0,1.091428e+07,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00
37294,mpr,BAZAAR,MZ,SHOWROOM,C1395,BAZAAR MZ GRAND BATAM,20.0,CLOSED,Rahma Yunita,Rika Yuanda,Rika Yuanda (Direct),07,Manzone,,Top,Shirt Long Sleeve,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.00,0.0,0.000000e+00,38.0,38.0,1.065328e+07,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00
37295,mpr,BAZAAR,MN,SHOWROOM,C1396,BAZAAR MN METROPOLITAN MALL BEKASI,18.0,CLOSED,Rahma Yunita,Nitta Kristiyani,Nitta Kristiyani (Direct),07,Minimal,,Top,Blouse 3/4 Long Sleeve,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.00,0.0,0.000000e+00,1.0,1.0,2.159400e+05,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00
37296,mpr,BAZAAR,MN,SHOWROOM,C1396,BAZAAR MN METROPOLITAN MALL BEKASI,18.0,CLOSED,Rahma Yunita,Nitta Kristiyani,Nitta Kristiyani (Direct),07,Minimal,,Top,Sweater Long Sleeve,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.00,0.0,0.000000e+00,1.0,1.0,2.799300e+05,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00

,dataareaid,axcode,order_create_date,codebars,ordernumber,quantity,cust_paid_peritem,hpp_total
0,mgl,C0001,2024-07-01,0900000049279,1,1,9.950000e+04,6.274700e+04
1,mgl,C0001,2024-07-01,0900000050619,1,1,4.245000e+05,4.015541e+05
2,mgl,C0001,2024-07-01,0900000061233,1,1,1.249500e+06,1.181959e+06
3,mgl,C0001,2024-07-01,2000000114993,1,1,2.513000e+05,1.697970e+05
4,mgl,C0001,2024-07-01,2000000134718,1,1,4.473000e+05,3.022300e+05
...,...,...,...,...,...,...,...,...
169405,mpr,C1408,2024-07-21,0100000171677,1,1,1.799000e+05,6.451900e+04
169406,mpr,C1408,2024-07-21,1000000046630,4,4,1.200000e+04,7.624000e+03
169407,mpr,C1408,2024-07-22,0100000014639,1,1,1.679007e+05,8.889600e+04
169408,mpr,C1408,2024-07-22,0100000020517,1,1,1.799000e+05,9.203300e+04
169409,mpr,C1408,2024-07-22,1000000046630,1,1,2.999298e+03,1.906000e+03

In [51]:
df_report = df_akum_percat.merge(
    df_ytd[
        [
            "dataareaid",
            "axcode",
            "umbrellabrand",
            "subbrand",
            "category",
            "cust_paid_peritem",
            "cust_paid_peritem_ly",
            "target",
            "target_daily",
        ]
    ],
    "outer",
    on=["dataareaid", "axcode", "umbrellabrand", "subbrand", "category"],
    suffixes=("", "_ytd"),
)

In [52]:
df_report.loc[
    df_report.duplicated(
        subset=[
            "dataareaid",
            "axcode",
            "umbrellabrand",
            "subbrand",
            "category",
            "cust_paid_peritem_ytd"
        ]
    ),
    "cust_paid_peritem_ytd",
] = 0

In [53]:
df_ytd[df_ytd['dataareaid'] == 'mpr']['cust_paid_peritem'].sum()

469671365399.0

In [54]:
df_report[df_report['dataareaid'] == 'mpr']['cust_paid_peritem_ytd'].sum()

469671365399.0

In [55]:
df_report

,dataareaid,axcode,order_create_date,day,day_name,day_score,week,month,month_score,umbrellabrand,subbrand,category,subcategory,ordernumber,quantity,cust_paid_peritem,order_create_date_lm,ordernumber_lm,quantity_lm,cust_paid_peritem_lm,order_create_date_ly,ordernumber_ly,quantity_ly,cust_paid_peritem_ly,target,target_daily,cust_paid_peritem_ytd,cust_paid_peritem_ly_ytd,target_ytd,target_daily_ytd
0,mgl,C0001,2024-07-01,1.0,Monday,1.0,Week 1,07,41.0,Puma,,Accessories,Cap,2.0,2.0,350800.0,2024-06-03,2.0,2.0,714400.0,2023-07-03,0.0,0.0,0.0,377000000.0,9.195122e+06,1.333191e+08,1.667356e+08,2.715470e+09,2.546519e+09
1,mgl,C0001,2024-07-01,1.0,Monday,1.0,Week 1,07,41.0,Puma,,Accessories,Water Bottles,0.0,0.0,0.0,2024-06-03,0.0,0.0,0.0,2023-07-03,1.0,1.0,299000.0,0.0,0.000000e+00,0.000000e+00,1.667356e+08,2.715470e+09,2.546519e+09
2,mgl,C0001,2024-07-02,2.0,Tuesday,1.0,Week 1,07,41.0,Puma,,Accessories,Cap,1.0,1.0,251300.0,2024-06-04,1.0,1.0,321300.0,2023-07-04,0.0,0.0,0.0,0.0,9.195122e+06,0.000000e+00,1.667356e+08,2.715470e+09,2.546519e+09
3,mgl,C0001,2024-07-03,3.0,Wednesday,1.0,Week 1,07,41.0,Puma,,Accessories,Cap,1.0,1.0,199500.0,2024-06-05,0.0,0.0,0.0,2023-07-05,0.0,0.0,0.0,0.0,9.195122e+06,0.000000e+00,1.667356e+08,2.715470e+09,2.546519e+09
4,mgl,C0001,2024-07-03,3.0,Wednesday,1.0,Week 1,07,41.0,Puma,,Accessories,Gloves,1.0,1.0,459000.0,2024-06-05,0.0,0.0,0.0,2023-07-05,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,1.667356e+08,2.715470e+09,2.546519e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139070,mpr,C1390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mens top,,Bottom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.119548e+06,0.000000e+00,0.000000e+00,0.000000e+00
139071,mpr,C1390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mens top,,Top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.497466e+05,0.000000e+00,0.000000e+00,0.000000e+00
139072,mpr,C1395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manzone,,Bag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.549989e+05,0.000000e+00,0.000000e+00,0.000000e+00
139073,mpr,C1395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manzone,,Bottom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.465880e+06,0.000000e+00,0.000000e+00,0.000000e+00
139074,mpr,C1404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Minimal,,Outerwear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.798800e+05,0.000000e+00,0.000000e+00,0.000000e+00

In [ ]:
df_akum_percat.loc[
    df_akum_percat.duplicated(
        subset=[
            "dataareaid",
            "axcode",
            "umbrellabrand",
            "subbrand",
            "category",
        ]
    ),
    "cust_paid_peritem_ytd",
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(
        subset=[
            "dataareaid",
            "axcode",
            "umbrellabrand",
            "subbrand",
            "category",
        ]
    ),
    "cust_paid_peritem_ly_ytd",
] = 0

df_akum_percat.loc[
    df_akum_percat.duplicated(
        subset=[
            "dataareaid",
            "axcode",
            "umbrellabrand",
            "subbrand",
            "category",
            "target_ytd",
        ]
    ),
    "target_ytd",
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(
        subset=[
            "dataareaid",
            "axcode",
            "umbrellabrand",
            "subbrand",
            "category",
            "target_daily_ytd",
        ]
    ),
    "target_daily_ytd",
] = 0

In [ ]:
df_akum_percat['cust_paid_peritem_ytd'].sum()

523006446046.96704

In [ ]:
df_report = df_master_store[
    [
        "dataareaid",
        "channel",
        "brand",
        "groupstore",
        "axcode",
        "stdname",
        "sqm",
        "sssg",
        "so dept head",
        "area head",
        "city head",
    ]
].merge(df_akum_percat, "right", on=["dataareaid", "axcode"])

df_report.columns = df_report.columns.str.replace("cust_paid_peritem", "sales")
df_report.columns = df_report.columns.str.replace("ordernumber", "order")
df_report.columns = df_report.columns.str.replace("_", " ").str.title()
df_report = df_report.rename(columns={"Order Create Date": "Transaction Date"})

In [ ]:
df_report.to_excel("Test Sales Accumulation Per Category.xlsx", index=False)

In [ ]:
df_akum_perday = df_akum.groupby(
    ["dataareaid", "axcode", "order_create_date"], as_index=False
).agg(
    {
        "ordernumber": "sum",
        "quantity": "sum",
        "cust_paid_peritem": "sum",
        "order_create_date_lm": "max",
        "ordernumber_lm": "sum",
        "quantity_lm": "sum",
        "cust_paid_peritem_lm": "sum",
        "order_create_date_ly": "max",
        "ordernumber_ly": "sum",
        "quantity_ly": "sum",
        "cust_paid_peritem_ly": "sum",
    }
)

In [ ]:
df_akum_perday = df_akum_perday.merge(
    df_target, "left", on=["dataareaid", "axcode"]
).merge(
    dim_date[["pattern_date", "day_score", "month_score"]].rename(
        columns={"pattern_date": "order_create_date"}
    ),
    "left",
    on=["order_create_date"],
)

df_akum_perday["target_daily"] = (
    df_akum_perday["target"] / df_akum_perday["month_score"]
) * df_akum_perday["day_score"]

In [ ]:
df_akum_perday

,dataareaid,axcode,order_create_date,ordernumber,quantity,cust_paid_peritem,order_create_date_lm,ordernumber_lm,quantity_lm,cust_paid_peritem_lm,order_create_date_ly,ordernumber_ly,quantity_ly,cust_paid_peritem_ly,target,day_score,month_score,target_daily
0,mgl,C0001,2024-07-01,8.0,8.0,3740300.0,2024-06-03,13.0,13.0,9029800.0,2023-07-03,9.0,9.0,6511700.0,377000000.0,1.0,41.0,9.195122e+06
1,mgl,C0001,2024-07-02,9.0,9.0,5617500.0,2024-06-04,9.0,9.0,5862400.0,2023-07-04,12.0,12.0,9044200.0,377000000.0,1.0,41.0,9.195122e+06
2,mgl,C0001,2024-07-03,22.0,22.0,15770480.0,2024-06-05,6.0,7.0,2684800.0,2023-07-05,7.0,7.0,2316700.0,377000000.0,1.0,41.0,9.195122e+06
3,mgl,C0001,2024-07-04,17.0,17.0,7108400.0,2024-06-06,12.0,12.0,6379600.0,2023-07-06,5.0,5.0,4019600.0,377000000.0,1.0,41.0,9.195122e+06
4,mgl,C0001,2024-07-05,14.0,14.0,7042000.0,2024-06-07,11.0,11.0,8532400.0,2023-07-07,7.0,7.0,7151500.0,377000000.0,1.5,41.0,1.379268e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14602,mpr,C1408,2024-07-14,14.0,14.0,1697200.0,2024-06-09,0.0,0.0,0.0,2023-07-09,0.0,0.0,0.0,0.0,2.0,41.0,0.000000e+00
14603,mpr,C1408,2024-07-15,2.0,2.0,252900.0,2024-06-17,0.0,0.0,0.0,2023-07-17,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00
14604,mpr,C1408,2024-07-16,7.0,7.0,1082400.0,2024-06-18,0.0,0.0,0.0,2023-07-18,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00
14605,mpr,C1408,2024-07-17,5.0,5.0,758640.0,2024-06-19,0.0,0.0,0.0,2023-07-19,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00
14606,mpr,C1408,2024-07-18,4.0,4.0,482740.0,2024-06-20,0.0,0.0,0.0,2023-07-20,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00

In [ ]:
# Create snapshot sales permonth / mtd

df_akum_perday["month"] = pd.to_datetime(
    df_akum_perday["order_create_date"]
).dt.strftime("%m")

df_mtd = df_akum_perday.groupby(["dataareaid", "axcode", "month"], as_index=False)[
    [
        "ordernumber",
        "quantity",
        "cust_paid_peritem",
        "target_daily",
        "order_create_date_lm",
        "ordernumber_lm",
        "quantity_lm",
        "cust_paid_peritem_lm",
        "order_create_date_ly",
        "ordernumber_ly",
        "quantity_ly",
        "cust_paid_peritem_ly",
    ]
].sum()

In [ ]:
report_mtd = (
    df_master_store[
        [
            "dataareaid",
            "channel",
            "brand",
            "axcode",
            "stdname",
            "sqm",
            "sssg",
            "so dept head",
            "area head",
            "city head",
            "target",
        ]
    ]
    .merge(df_mtd, "right", on=["dataareaid", "axcode"])
    .rename(
        columns={
            "cust_paid_peritem": "sales mtd",
            "cust_paid_peritem_lm": "sales mtd last month",
            "cust_paid_peritem_ly": "sales mtd last year",
            "ordernumber": "order mtd",
            "ordernumber_lm": "order mtd last month",
            "ordernumber_ly": "order mtd last year",
            "quantity": "quantity mtd",
            "quantity_lm": "quantity mtd last month",
            "quantity_ly": "quantity mtd last year",
            "target_daily": "target mtd",
        }
    )
)

In [ ]:
df_akum_perday["day"] = pd.to_datetime(df_akum_perday["order_create_date"]).dt.day
df_akum_perday["week"] = (df_akum_perday["day"] - 1) // 7 + 1
df_akum_perday["week"] = df_akum_perday["week"].astype(str)
df_akum_perday["week"] = "Week" + " " + df_akum_perday["week"]

In [ ]:
report_daily = (
    df_master_store[
        [
            "dataareaid",
            "channel",
            "brand",
            "axcode",
            "stdname",
            "sqm",
            "sssg",
            "so dept head",
            "area head",
            "city head",
        ]
    ]
    .merge(df_akum_perday, "right", on=["dataareaid", "axcode"])
    .rename(
        columns={
            "cust_paid_peritem": "sales mtd",
            "cust_paid_peritem_lm": "sales mtd last month",
            "cust_paid_peritem_ly": "sales mtd last year",
            "ordernumber": "order mtd",
            "ordernumber_lm": "order mtd last month",
            "ordernumber_ly": "order mtd last year",
            "quantity": "quantity mtd",
            "quantity_lm": "quantity mtd last month",
            "quantity_ly": "quantity mtd last year",
        }
    )
)

report_daily["order_create_date"] = pd.to_datetime(report_daily["order_create_date"])

In [ ]:
report_daily = report_daily.merge(
    report_mtd[["dataareaid", "axcode", "sales mtd", "sales mtd last year"]].rename(
        columns={"sales mtd": "sales ytd", "sales mtd last year": "sales ytd last year"}
    ),
    "left",
    on=["dataareaid", "axcode"],
)

In [ ]:
report_daily['sales ytd'] = report_daily['sales ytd'] * 7
report_daily['sales ytd last year'] = report_daily['sales ytd last year'] * 7

In [ ]:
report_daily.loc[report_daily.duplicated(subset=['dataareaid', 'axcode', 'target']), 'target'] = 0
report_daily.loc[report_daily.duplicated(subset=['dataareaid', 'axcode', 'sales ytd']), 'sales ytd'] = 0
report_daily.loc[report_daily.duplicated(subset=['dataareaid', 'axcode', 'sales ytd last year']), 'sales ytd last year'] = 0

In [ ]:
with pd.ExcelWriter("Test 2.xlsx") as wr :
    # report_mtd.to_excel(wr, sheet_name = 'MTD', index=False)
    report_daily.to_excel(wr, sheet_name = 'Daily', index=False)

In [ ]:
df_akum

,dataareaid,axcode,id,order_create_date,codebars,ordernumber,quantity,cust_paid_peritem,order_create_date_lm,ordernumber_lm,quantity_lm,cust_paid_peritem_lm,order_create_date_ly,ordernumber_ly,quantity_ly,cust_paid_peritem_ly,umbrellabrand,subbrand,world,category,subcategory
0,mgl,C0001,2024-07-01/2024-06-03/2023-07-03,2024-07-01,0900000049279,1.0,1.0,99500.0,2024-06-03,0.0,0.0,0.0,2023-07-03,0.0,0.0,0.0,Puma,,Accessories,Accessories,Cap
1,mgl,C0001,2024-07-01/2024-06-03/2023-07-03,2024-07-01,0900000050619,1.0,1.0,424500.0,2024-06-03,0.0,0.0,0.0,2023-07-03,0.0,0.0,0.0,Puma,,Sportstyle Core,Apparel,Short Pants
2,mgl,C0001,2024-07-01/2024-06-03/2023-07-03,2024-07-01,0900000061233,1.0,1.0,1249500.0,2024-06-03,0.0,0.0,0.0,2023-07-03,0.0,0.0,0.0,Puma,,Run/Train,Footwear,Shoes
3,mgl,C0001,2024-07-01/2024-06-03/2023-07-03,2024-07-01,2000000114993,1.0,1.0,251300.0,2024-06-03,0.0,0.0,0.0,2023-07-03,0.0,0.0,0.0,Puma,,Accessories,Accessories,Cap
4,mgl,C0001,2024-07-01/2024-06-03/2023-07-03,2024-07-01,2000000134718,1.0,1.0,447300.0,2024-06-03,0.0,0.0,0.0,2023-07-03,0.0,0.0,0.0,Puma,,Sportstyle Core,Apparel,Hoodie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394980,mpr,C1082,2024-07-18/2024-06-20/2023-07-20,2024-07-18,8990200016241,0.0,0.0,0.0,2024-06-20,0.0,0.0,0.0,2023-07-20,1.0,1.0,199900.0,MOC,,Essential,Top,Shirt Long Sleeve
394981,mpr,C1082,2024-07-18/2024-06-20/2023-07-20,2024-07-18,8990200017286,0.0,0.0,0.0,2024-06-20,0.0,0.0,0.0,2023-07-20,1.0,1.0,179900.0,MOC,,Essential,Bottom,Pants Chinos
394982,mpr,C1085,2024-07-18/2024-06-20/2023-07-20,2024-07-18,0400000009667,0.0,0.0,0.0,2024-06-20,0.0,0.0,0.0,2023-07-20,1.0,1.0,199900.0,Minimal,,Essential,Top,Shirt Short Sleeve
394983,mpr,C1085,2024-07-18/2024-06-20/2023-07-20,2024-07-18,0400000009681,0.0,0.0,0.0,2024-06-20,0.0,0.0,0.0,2023-07-20,1.0,1.0,199900.0,Minimal,,Essential,Top,Shirt Short Sleeve
394984,mpr,C1085,2024-07-18/2024-06-20/2023-07-20,2024-07-18,0400000011523,0.0,0.0,0.0,2024-06-20,0.0,0.0,0.0,2023-07-20,1.0,1.0,299900.0,Minimal,,Essential,Pants,Chinos

In [ ]:
df_akum_percat = df_akum.groupby(
    [
        "dataareaid",
        "axcode",
        "order_create_date",
        "day",
        "day_name",
        "day_score",
        "week",
        "month",
        "month_score",
        "umbrellabrand",
        "subbrand",
        "category",
        "subcategory",
    ],
    as_index=False,
).agg(
    {
        "ordernumber": "sum",
        "quantity": "sum",
        "cust_paid_peritem": "sum",
        "order_create_date_lm": "max",
        "ordernumber_lm": "sum",
        "quantity_lm": "sum",
        "cust_paid_peritem_lm": "sum",
        "order_create_date_ly": "max",
        "ordernumber_ly": "sum",
        "quantity_ly": "sum",
        "cust_paid_peritem_ly": "sum",
    }
)

df_akum_percat = df_akum_percat.merge(df_target, "left", on=["dataareaid", "axcode"])

df_akum_percat["target_daily"] = (
    df_akum_percat["target"] / df_akum_percat["month_score"]
) * df_akum_percat["day_score"]

In [ ]:
df_ytd = df_akum_percat.groupby(["dataareaid", "axcode"], as_index=False)[
    [
        "ordernumber",
        "quantity",
        "cust_paid_peritem",
        "order_create_date_ly",
        "ordernumber_ly",
        "quantity_ly",
        "cust_paid_peritem_ly",
    ]
].sum()

In [ ]:
df_ytd[
    [
        "ordernumber",
        "quantity",
        "cust_paid_peritem",
        "ordernumber_ly",
        "quantity_ly",
        "cust_paid_peritem_ly",
    ]
] = (
    df_ytd[
        [
            "ordernumber",
            "quantity",
            "cust_paid_peritem",
            "ordernumber_ly",
            "quantity_ly",
            "cust_paid_peritem_ly",
        ]
    ]
    * 7
)

In [ ]:
df_akum_percat = df_akum_percat.merge(
    df_ytd, "left", on=["dataareaid", "axcode"], suffixes=("", "_ytd")
)

In [ ]:
df_akum_percat.loc[
    df_akum_percat.duplicated(subset=["dataareaid", "axcode", "target"]), "target"
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(
        subset=["dataareaid", "axcode", "order_create_date", "target_daily"]
    ),
    "target_daily",
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(subset=["dataareaid", "axcode", "cust_paid_peritem_ytd"]),
    "cust_paid_peritem_ytd",
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(subset=["dataareaid", "axcode", "ordernumber_ytd"]),
    "ordernumber_ytd",
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(subset=["dataareaid", "axcode", "quantity_ytd"]),
    "quantity_ytd",
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(
        subset=["dataareaid", "axcode", "cust_paid_peritem_ly_ytd"]
    ),
    "cust_paid_peritem_ly_ytd",
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(subset=["dataareaid", "axcode", "ordernumber_ly_ytd"]),
    "ordernumber_ly_ytd",
] = 0
df_akum_percat.loc[
    df_akum_percat.duplicated(subset=["dataareaid", "axcode", "quantity_ly_ytd"]),
    "quantity_ly_ytd",
] = 0

In [ ]:
df_report = df_master_store[
    [
        "dataareaid",
        "channel",
        "brand",
        "groupstore",
        "axcode",
        "stdname",
        "sqm",
        "sssg",
        "so dept head",
        "area head",
        "city head",
    ]
].merge(df_akum_percat, "right", on=["dataareaid", "axcode"])

df_report.columns = df_report.columns.str.replace("cust_paid_peritem", "sales")
df_report.columns = df_report.columns.str.replace("ordernumber", "order")
df_report.columns = df_report.columns.str.replace("_", " ").str.title()
df_report = df_report.rename(columns={"Order Create Date": "Transaction Date"})

In [ ]:
df_report.to_excel("Text PerCategory 2.xlsx", index=False)

In [ ]:
report_daily['sales mtd'].sum()

31643338153.0

In [ ]:
df_report

,Dataareaid,Channel,Brand,Groupstore,Axcode,Stdname,Sqm,Sssg,So Dept Head,Area Head,City Head,Transaction Date,Umbrellabrand,Subbrand,Category,Subcategory,Order,Quantity,Sales,Order Create Date Lm,Order Lm,Quantity Lm,Sales Lm,Order Create Date Ly,Order Ly,Quantity Ly,Sales Ly,Target,Day Score,Month Score,Target Daily,Day,Month,Week,Order Ytd,Quantity Ytd,Sales Ytd,Order Ly Ytd,Quantity Ly Ytd,Sales Ly Ytd
0,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,2024-07-01,Puma,,Accessories,Cap,2.0,2.0,350800.0,2024-06-03,2.0,2.0,714400.0,2023-07-03,0.0,0.0,0.0,377000000.0,1.0,41.0,9.195122e+06,1,07,Week 1,2471.0,2506.0,1.440119e+09,1288.0,1295.0,1.044044e+09
1,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,2024-07-01,Puma,,Accessories,Water Bottles,0.0,0.0,0.0,2024-06-03,0.0,0.0,0.0,2023-07-03,1.0,1.0,299000.0,0.0,1.0,41.0,0.000000e+00,1,07,Week 1,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
2,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,2024-07-01,Puma,,Apparel,Hoodie,1.0,1.0,447300.0,2024-06-03,2.0,2.0,768600.0,2023-07-03,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00,1,07,Week 1,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
3,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,2024-07-01,Puma,,Apparel,Jacket,0.0,0.0,0.0,2024-06-03,1.0,1.0,1099000.0,2023-07-03,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00,1,07,Week 1,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
4,mgl,SHOWROOM,PM,SHOWROOM,C0001,SHOWROOM PM EMPORIUM PLUIT,150.5,SSSG,Rahma Yunita,Henri Mediyanto,None,2024-07-01,Puma,,Apparel,Jacket Long Sleeve,0.0,0.0,0.0,2024-06-03,1.0,1.0,959200.0,2023-07-03,1.0,1.0,854100.0,0.0,1.0,41.0,0.000000e+00,1,07,Week 1,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128819,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),2024-07-17,Manzone,,Top,Shirt Long Sleeve,1.0,1.0,215940.0,2024-06-19,0.0,0.0,0.0,2023-07-19,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00,17,07,Week 3,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
128820,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),2024-07-18,Manzone,,Bag,Shopping Bag,1.0,1.0,3000.0,2024-06-20,0.0,0.0,0.0,2023-07-20,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00,18,07,Week 3,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
128821,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),2024-07-18,Manzone,,Top,Shanghai Long Sleeve,1.0,1.0,179900.0,2024-06-20,0.0,0.0,0.0,2023-07-20,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00,18,07,Week 3,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
128822,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),2024-07-18,Manzone,,Top,Shanghai Short Sleeve,1.0,1.0,179900.0,2024-06-20,0.0,0.0,0.0,2023-07-20,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00,18,07,Week 3,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
128823,mpr,SHOWROOM,MZ,SHOWROOM,C1408,BAZAAR MZ CIBINONG CITY MALL,9.0,None,Artha Erlina Gomgom,Siti Nurlaelasari,Siti Nurlaelasari (Direct),2024-07-18,Manzone,,Top,Tshirt Short Sleeve,1.0,1.0,119940.0,2024-06-20,0.0,0.0,0.0,2023-07-20,0.0,0.0,0.0,0.0,1.0,41.0,0.000000e+00,18,07,Week 3,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00

In [42]:
df_this_month = pd.read_parquet(
    f"s3://mega-dev-lake/ProcessedData/Sales/sales_detail_indie/{refresh_year}/{refresh_month}/"
)

In [47]:
df_promo = df_this_month.groupby(
    [
        "dataareaid",
        "axcode",
        "stdname",
        "brand",
        "channel",
        "so dept head",
        "area head",
        "order_create_date",
        "promocode",
        "remarks",
    ],
    as_index=False,
).agg({"ordernumber": "nunique", "quantity": "sum", "cust_paid_peritem": "sum"})

In [51]:
df_akum_category = df_master_store[
    [
        "dataareaid",
        "channel",
        "brand",
        "groupstore",
        "axcode",
        "stdname",
        "sqm",
        "sssg",
        "so dept head",
        "area head",
        "city head",
    ]
].merge(df_akum_percat, "right", on=["dataareaid", "axcode"])

In [55]:
with pd.ExcelWriter("Contoh Data Sales.xlsx") as wr:
    df_promo.to_excel(wr, sheet_name="Promo", index=False)
    df_akum_category.to_excel(wr, sheet_name="Akumulasi", index=False)